.footer{
    background-color: black;
    color: #d9d9d9;
    padding: 10px 8vw;
    display: flex;  
    flex-direction: column;
    align-items: center;
    gap : 15px; 
    padding-top: 40px;
    margin-top: 50px;
}
.footer-content{
    width: 100%;
    margin-left: 20px;
    display : grid;
    grid-template-columns:2fr 1fr 1fr;
    gap: 80px;

}
.logo2{
    width: 150px; /* or any fixed width */
    margin-top: -30px;
    cursor: pointer;
}
.footer-content-left {
  display: flex;
  align-items: center; /* Vertically center the items */
  gap: 16px; /* Optional: space between image and text */
}
.footer-content-right, .footer-content-center {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}
.footer-content-right li, .footer-content-center li{   
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}
.footer-content-right h2, .footer-content-center h2{
    color: white    ;
}
.footer-social-icons img{
    width: 40px;
    margin-right: 15px;
    cursor: pointer;
    filter: brightness(0) invert(1); /* Ensures icons remain white even if original images are dark */
} 
.footer-social-icons-call img{
    width: 40px;
    margin-right: 15px;
    cursor: pointer;
    filter: brightness(0) invert(1); /* Ensures icons remain white even if original images are dark */
} 
.footer hr{
    width: 100%;
    height: 2px;
    border: none;
    background-color: gray;
    margin: 20px 0;
}
@media (max-width: 750px){
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }


    .footer-copyright{
        font-size: 14px;
        text-align: center;
    }
}