.explore-menu{
    display: flex;
    flex-direction: column;
    gap : 20px;
    padding: 10px;
    
}
.explore-menu h1 {
    font-weight: 500;
    color: #262626;
}
.explore-menu-text{
    max-width: 60%;
    color: #808080;

}
.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin: 15px 0px;
    overflow-x: scroll;
    padding: 23px;
}
.explore-menu-list ::-webkit-scrollbar{
    display : none;
}
.explore-menu-list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.explore-menu-list-items  img{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    cursor: pointer;
     transition: all 0.3s ;
}
.explore-menu-list-items  img:hover{
    transform: scale(1.1);
    box-shadow: 0 0px 20px rgb(229, 88, 63);


}
.explore-menu-list-items  p{
    margin-top: 10px;
    font-size: max(1.4vw ,16px);
    color: #747474; 
    cursor: pointer;
}
.explore-menu hr {
    height: 2px;
    background-color: #e2e2e2;
    border: none;
    margin: 10px 0px;

}
.explore-menu-list-items .active{
    border: 5px solid tomato;
    box-shadow: 0px 0px 5px rgba(255, 99, 71, 0.5);


}
@media (max-width: 1050px){
    .explore-menu-text{
        max-width: 100%;
        font-size: 14px;
    }
   
}